*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: arial;
}
body{
  background-color: rgb(40, 38, 49);
}


.contenedor-consejos{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin:100px auto;
  width: 450px;
  height: 450px;
  background-color: rgb(57, 69, 80); 
}
.contenedor-consejos h2 {
  display: block;
  text-align: center;
  width: 450px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20px;
  color: rgb(56, 255, 105);
}
.contenedor-texto{
  display: block;
  text-align: center;
  word-wrap: break-word;
  margin: auto;
  width: 400px;
  height: 270px;
  font-size: 20px;
  font-weight: bold;
  color: white;

}
.mensajeBoton img{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.mensajeBoton{
  display: flex;
  position: relative;
  width: 60px;
  height: 60px;
  background-color:rgb(56, 255, 105);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  margin: auto;
  margin-bottom: -30px;
}
.mensajeBoton:hover{
  box-shadow: 0px 0px 20px rgb(56, 255, 105);
}
.mensajeBoton:active{
  transform: translateY(10%);
}
#preloader {
  display: flex;
  position: fixed;
  margin: auto;
  margin-top: 150px;
  width: 70px;
  height: 70px;
  border: 10px solid rgb(56, 255, 105);
  border-top: 10px solid #666;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#divisor {
  position: absolute;
  margin: auto auto;
  margin-top: 350px;
}